<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #339966;">
  <div class="container-fluid">
    <header class="navbar-header">
      <a href="{RootURL$}" class="navbar-brand">
        <img src="favicon.png" width="24" height="24" alt="artichoke framework">Artichoke
      </a>
    </header>
    <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navheader" aria-controls="navheader" aria-expanded="false" aria-label="Toggle header navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <header id="navheader" class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/SonyCSL/Megadiversity-Management-System" target="_blank">Source</a>
        <a class="nav-item nav-link" href="https://www.sonycsl.co.jp/" target="_blank">Sony CSL</a>
      </div>
    </header>
  </div>
</nav>
